@reference 'tailwindcss';

.recuadro{
    @apply rounded-[35px] sm:rounded-[55px] bg-white overflow-hidden w-full h-245 sm:h-240 md:h-235 lg:h-237.5 mt-15 md:mt-20 lg:mt-42.5
}

.icono{
    @apply text-[60px] w-auto h-auto
}

.frase-gris{
    padding-top: 70px;
    @apply text-center
}

.titulo-SYS{
    line-height: 120%;
    align-items: center;
    text-align: center;    
    letter-spacing: -0.03em;

    @apply text-[35px] md:text-[45px] lg:text-[55px] px-10 md:px-18.75

}

.subtitulo-SYS{
    line-height: 120%;
}