@import 'tailwindcss';


.titulo-sseis{
    line-height: 120%;
    align-items: center;
    text-align: center;    
    letter-spacing: -0.03em;

    @apply lg:text-[55px] md:text-[40px] text-[35px] px-10 md:px-0 lg:px-25
}

.subtitulo-sseis{
    line-height: 120%;

    @apply px-8 sm:px-17.5 lg:max-w-[65%] lg:mx-auto lg:px-0
}