@reference 'tailwindcss';

.titulo-contacto{
    line-height: 150%;  
    letter-spacing: -0.03em;

    @apply text-[35px] md:text-[45px] lg:text-[55px]

}

.subtitulo-contacto{
    line-height: 120%;
    
}

.enlace-contacto{
    @apply cursor-pointer transition-transform duration-300 hover:translate-x-4 hover:bg-[#121212] hover:text-white active:bg-[#121212] active:text-white active:scale-110
}

.btn-contacto-landing{
    @apply px-8 py-4 border-2 rounded-4xl text-[18px] hover:bg-[#702E7D] active:bg-[#702E7D] hover:border-0 active:scale-110 active:text-white hover:text-white transition-transform duration-200 ease-in-out
}