
<div class="w-full lg:px-10 pb-40 pt-20">

    <h2 class="poppins-bold titulo-sc mb-3">
        Proyecto<br>TekNova Ing
    </h2>

    <section #carrusel class="splide" aria-label="Carrusel de proyectos de TekNova Ing">
        <div class="splide__track">
            <ul class="splide__list opacity-90">
                @for (proyecto of proyectos(); track proyecto.id) {
                    <!-- Slide 1 -->
                    <li class="splide__slide">
                            @if (proyecto.variante === "estandar") {
                               <div class="card-wrapper">
                                    <div class="relative w-50 h-50 md:w-85 md:h-80 border overflow-hidden">
                                        <img [src]=" assetsPath + proyecto.imagenUrl"
                                        alt="img-porft-{{proyecto.id}}"
                                        class="imgHover object-contain h-full" />
                                    </div>

                                    <div class="texto-parrafo mt-5 diseno-linea">
                                        <p class="poppins-medium max-w-65">
                                            {{proyecto.texto}}    
                                        </p>
                                    </div>
                                </div>
                                   
                            }
                            <!-- Slide 2 -->
                            @if (proyecto.variante === 'alto') {
                               <div class="card-wrapper">
                                    <div class="relative w-50 h-70 md:w-75 md:h-105 border overflow-hidden">
                                        <img [src]="assetsPath + proyecto.imagenUrl"
                                        alt="img-porft-{{proyecto.id}}"
                                        class="imgHover object-cover w-full h-full"/>
                                    </div>

                                    <div class="texto-parrafo mt-5 diseno-linea">
                                        <p class="poppins-medium max-w-65">
                                            {{proyecto.texto}}    
                                        </p>
                                    </div>
                                </div>
                                
                            }
                            <!-- Slide 3 -->
                            @if (proyecto.variante === "ancho") {
                                <div class="card-wrapper">
                                    <div class="relative w-80 h-50 md:w-120 md:h-80 border overflow-hidden">
                                        <img [src]="assetsPath + proyecto.imagenUrl"
                                        alt="img-porft-{{proyecto.id}}"
                                        class="imgHover object-cover w-full h-full" />
                                    </div>

                                    <div class="texto-parrafo mt-5 diseno-linea">
                                        <p class="poppins-medium max-w-115">
                                            {{proyecto.texto}}
                                        </p>
                                    </div>
                                </div>
                                
                            }
                    </li>
                }

            </ul>
        </div>
    </section>
        
</div>