@reference 'tailwindcss';

.splide__list {
  display: flex;
  flex-direction: row;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.project-card {
  width: auto ;
  flex-shrink: 0;
}

.imgHover{
  @apply transition-transform duration-300 hover:scale-110 
}

.texto-parrafo{
  line-height: 115%;
  word-wrap: break-word;
  white-space: normal;
  @apply text-[16px] md:text-[25px] inline-block hover:underline px-2 transition-all duration-300
}
