@import 'tailwindcss';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}
html {
  scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    color-scheme: light;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.color-morado{
    color: #702E7D;
}

.color-cyan{
  color: #03BACA
}

.color-gris{
  color: #818181
}